# Create a Loss Development Triangle

Import pandas and numpy packages

In [1]:
import numpy as np
import pandas as pd

Load the input from the url below

In [2]:
# load input data
file_url = "https://raw.githubusercontent.com/gpwa-com/WSIA2019/master/inputs/comauto_pos.csv"
claims = pd.read_csv("https://raw.githubusercontent.com/gpwa-com/WSIA2019/master/inputs/comauto_pos.csv")

In [7]:
claims.head()

,GRCODE,GRNAME,AccidentYear,DevelopmentYear,DevelopmentLag,IncurLoss_C,CumPaidLoss_C,BulkLoss_C,EarnedPremDIR_C,EarnedPremCeded_C,EarnedPremNet_C,Single,PostedReserve97_C
0,266,Public Underwriters Grp,1988,1988,1,0,0,0,0,0,0,0,932
1,266,Public Underwriters Grp,1988,1989,2,0,0,0,0,0,0,0,932
2,266,Public Underwriters Grp,1988,1990,3,0,0,0,0,0,0,0,932
3,266,Public Underwriters Grp,1988,1991,4,0,0,0,0,0,0,0,932
4,266,Public Underwriters Grp,1988,1992,5,0,0,0,0,0,0,0,932

In [8]:
claims.describe()

,GRCODE,AccidentYear,DevelopmentYear,DevelopmentLag,IncurLoss_C,CumPaidLoss_C,BulkLoss_C,EarnedPremDIR_C,EarnedPremCeded_C,EarnedPremNet_C,Single,PostedReserve97_C
count,15800.000000,15800.000000,15800.000000,15800.000000,15800.000000,15800.000000,15800.000000,15800.000000,15800.000000,15800.000000,15800.000000,15800.000000
mean,18654.708861,1992.500000,1997.000000,5.500000,5155.741899,4190.973481,357.358101,8985.444937,1508.888608,7476.555696,0.721519,10815.107595
std,13227.704976,2.872372,4.062148,2.872372,20372.413914,17662.754124,2946.305828,33696.348166,5405.614677,31555.933962,0.448266,36441.236762
min,266.000000,1988.000000,1988.000000,1.000000,-253.000000,-253.000000,-1395.000000,-445.000000,-3329.000000,-128.000000,0.000000,0.000000
25%,8281.000000,1990.000000,1994.000000,3.000000,5.000000,2.750000,0.000000,42.750000,0.000000,19.750000,0.000000,121.000000
50%,15303.000000,1992.500000,1997.000000,5.500000,315.000000,229.000000,0.000000,732.000000,73.000000,549.500000,1.000000,938.000000
75%,28886.000000,1995.000000,2000.000000,8.000000,1965.000000,1535.250000,26.000000,3991.500000,656.250000,2810.500000,1.000000,4711.000000
max,44598.000000,1997.000000,2006.000000,10.000000,256434.000000,244280.000000,105923.000000,412331.000000,60233.000000,406609.000000,1.000000,360657.000000

In [ ]:
# filter data to only include development through 1997 so we can use different models
# to predict ultimate claims.
partial_claims = claims[claims["DevelopmentYear"] <= 1997]

In [ ]:
def create_development_triangle(claims):
    return claims.pivot_table(values="IncurLoss_C", index="AccidentYear", columns="DevelopmentLag", aggfunc=np.sum)

In [ ]:
# create partial development triangle for exercise
create_development_triangle(partial_claims).to_csv("../inputs/losses.csv", header=False, index=False)

In [ ]:
# create final development triangle for desting
create_development_triangle(claims).to_csv("../inputs/losses_FINAL.csv", header=False, index=False)