# Numpy and Pandas Exercises

Import the pandas and numpy packages

In [1]:
import numpy as np
import pandas as pd

Load sample data into a dataframe using the link provided

In [2]:
claims_url = "https://raw.githubusercontent.com/gpwa-com/WSIA2019/master/inputs/exercise_2_claims.csv"
claims = pd.read_csv(claims_url)
claims.head()

   policy                  type   claim
0       1  Manufacturing Defect   45692
1       1         Design Defect  249871
2       2  Manufacturing Defect  195192
3       2  Manufacturing Defect   98596
4       2         Design Defect  529816

1. How many observations are in our table?

In [3]:
claims.count()

policy    10
type      10
claim     10
dtype: int64

2. What is the average claim amount?

In [4]:
claims["claim"].mean()

300543.4

3. What is the most common claim type?

In [5]:
claims["type"].value_counts()

Design Defect           4
Marketing Defect        3
Manufacturing Defect    3
Name: type, dtype: int64

4. Select just the records associated with policy 4

In [6]:
claims.loc[claims["policy"] == 4]

   policy              type   claim
7       4     Design Defect  251113
8       4     Design Defect  620587
9       4  Marketing Defect  387841

5. What the total claims paid by policy?

In [ ]:
claims.pivot_table(values="claim", index="policy", aggfunc=np.sum)